<?xml version="1.0" encoding="UTF-8"?>
<deployment xmlns="urn:jboss:bean-deployer:2.0">
   <bean name="SimpleClassLoaderDeployer" class="org.jboss.ejb3.test.tx.common.SimpleClassLoaderDeployer"/>
   
   <!-- Legacy AOP
   <bean name="AspectManager" class="org.jboss.aop.AspectManager">
      <constructor factoryClass="org.jboss.aop.AspectManager" factoryMethod="instance"/>
   </bean>
   
   <bean name="AspectAppParsingDeployer" class="org.jboss.aop.deployers.AspectAppParsingDeployer"/>
   <bean name="AspectDeployer" class="org.jboss.aop.deployers.AspectDeployer">
      <property name="type">aop</property>
      <property name="aspectManager"><inject bean="AspectManager"/></property>
   </bean>
   -->
    
   <!-- JNDI -->
   <bean name="NameServer" class="org.jnp.server.SingletonNamingServer"/>
   
   <bean name="TransactionManager" class="org.jboss.ejb3.test.tx.common.SimpleTransactionService">
      <depends>NameServer</depends>
   </bean>
   <bean name="RealTransactionManager">
      <constructor factoryMethod="getTransactionManager">
         <factory bean="TransactionManager"/>
      </constructor>
   </bean>
   
   <!-- Handles user transaction providers and listeners -->
   <bean name="UserTransactionRegistry" class="org.jboss.tm.usertx.UserTransactionRegistry">
      <!-- Register providers -->
      <incallback method="addProvider"/>
      <uncallback method="removeProvider"/>
      <!-- Register listeners -->
      <incallback method="addListener"/>
      <uncallback method="removeListener"/>
   </bean>
   
   <bean name="AspectDeployment" class="org.jboss.ejb3.test.tx.common.AspectDeployment">
      <property name="mainDeployer"><inject bean="MainDeployer"/></property>
      <property name="resource">instance/jboss-aop.xml</property>
      <!-- depends>TransactionManager</depends -->
   </bean>
   
   <bean name="TestContainer" class="org.jboss.ejb3.test.tx.common.SimpleContainer">
      <constructor>
         <parameter>TestContainer</parameter>
         <parameter>Stateful Container</parameter>
         <parameter>org.jboss.ejb3.test.tx.instance.InstanceTestBean</parameter>
      </constructor>
      <depends>AspectDeployment</depends>
      <!-- depends>TransactionManager</depends -->
   </bean>
   
   <!-- The provider for EJB3 UserTransactions -->
   <bean name="EJB3UserTransactionprovider" class="org.jboss.ejb3.tx.EJB3UserTransactionProvider">
      <depends>UserTransactionRegistry</depends>
      <constructor factoryClass="org.jboss.ejb3.tx.EJB3UserTransactionProvider" factoryMethod="getSingleton"/>
   </bean>
</deployment>